@import "app/variables";

.blackMenu{
  position: fixed;
  top: 0;
  z-index: 20;
  transition: background 0.3s ease;
  &.fixed{
    background: rgb(18 18 18 / 91%);
  }
}

.whiteMenu{
  position: sticky;
  top: 0;
  z-index: 20;
  transition: background 0.3s ease;
  &.fixed{
    background: rgba(250, 250, 250, 0.91);
  }
}
